<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCI-DSS Manager</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <script src="animations.js"></script>
</head>
<body>
    <div class="parent">
        <div class="div1"></div> 
        <div class="title">PCI-DSS <br> Manager</div>    
        <div class="div3"></div> 
        <div class="card-scraper">
            <div class="white-container"></div>
            <div class="card-content">
                <h3 class="card-title">PCI Scraper</h3>
                <p class="card-description">This tool automates the collection and updating of PCI-DSS compliance documents. It explores targeted pages and extracts useful information in an automated way.</p>
                <a href="change/index.html" class="card-access-text">Access+</a>
            </div>
        </div>
        <div class="card-converter">
            <div class="white-container"></div>
            <div class="card-content">
                <h3 class="card-title">PCI Converter</h3>
                <p class="card-description">This converter allows you to convert a PDF document with PCI rules by extracting the important parts of the document and classifying them in a csv file.</p>
                <a href="converter2/index.html" class="card-access-text">Access+</a>
            </div>
        </div>
        <div class="card-helper">
            <div class="white-container"></div>
            <div class="card-content">
                <h3 class="card-title">PCI Scanner</h3>
                <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaamet, consectetur adipiscing elit.</p>
                <p class="card-access-text">Access+</p>
            </div>
        </div>
        <div class="div4"></div> 
    </div> 
    <div class="parent2">
        <div class="col1"></div>
        <div class="col2"></div>
        <div class="col3"></div> 
    </div>
</body>
</html>